body {
    font-family: Arial, Helvetica, sans-serif;
}

.hud-message {
    display: block;
    position: absolute;
    z-index: 100;
    bottom: 10px;
    left: 10px;
    color: white;
    padding: 10px;
    background-color: rgba(73, 73, 73, 0.8);
    border-radius: 5px;
}

#debug {
    bottom: 60px;
}

#score {
    display: block;
    position: absolute;
    top: 10px;
    left: 10px;
    font-size: 70px;
    font-style: italic;
    font-weight: bold;
    -webkit-text-stroke: 1px white;
}

#score #unit {
    font-size: 30px;
    -webkit-text-stroke: 0.5px white;
}

.vertical-bar {
    vertical-align: bottom;
    position: absolute;
    left: 10px;
    height: 100px;
    width: 25px;
    background-color: gray;
    border-radius: 5px;
}

.vertical-bar span {
    position: absolute;
    bottom: 5px;
    width: 25px;
    text-align: center;
    color: transparent;
    text-shadow: 0 0 0 white;
}

#distance {
    top: 100px;
}

#health {
    top: 210px;
}